<div class="mb-3 row">
    <div class="col-2"></div>
    <div class="col-auto">
        <label class="form-label">Enter Timer Limit</label>
    </div>
    <div class="col-6">
        <input type="text" class="form-control" name="timer" [(ngModel)]="timer" (keyup)="sendTimerValue(timer, 'send');" [disabled]="disableInput ? true:false" />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button type="button" class="btn btn-success mb-3" [disabled]="!timer? true:false" (click) = 'startTimer()'>{{btnText}}</button>
        <button type="button" class="btn btn-success mb-3 ms-3" [disabled]="!timer? true:false" (click) = 'resetTimer()'>Reset</button>
    </div>
</div>