<div class="mb-3">
    <label class="form-label">Enter Timer Limit</label>
    <input type="text" class="form-control" name="timer" [(ngModel)]="timer" (keyup)="sendTimerValue(timer, 'send', 0);" /><!-- #timer="ngModel" (keyup)="sendTimerValue(event);" -->
</div>
<button type="button" class="btn btn-primary mb-3" [disabled]="!timer? true:false" (click) = 'startTimer()'>{{btnText}}</button>
<button type="button" class="btn btn-primary mb-3" [disabled]="!timer? true:false" (click) = 'resetTimer()'>Reset</button>