<!-- <p>Students</p>
<ul>
    <li *ngFor="let student of students">
        <p>{{student.name}}</p>
        <p>{{student.class}}</p>
        <p>{{student.section}}</p>
        <p>{{student.sub1}}</p>
        <p>{{student.sub2}}</p>
        <p>{{student.sub3}}</p>
    </li>
</ul> -->
<div class="students-block table-responsive">
    <table class="table table-striped" *ngIf="students">
        <thead>
        <tr>
            <th scope="col" id="{{key}}" (sortItems)="sortItems($event)" [appSort]="students" *ngFor="let key of getKeys()"> {{key}}</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students">
                <td *ngFor="let key of getKeys()">{{student[key]}}</td>
            </tr>
        </tbody>
    </table>
</div>

