<div class="row">
    <div class="col-6">
        <div class="col-12">Started </div>
        <div class="col-12" *ngIf="clickCount?.value && clickCount?.startCount else noStartCount">
            {{clickCount.startCount}}
        </div>
        <ng-template #noStartCount>
            <div class="col-12">0</div>
        </ng-template>
    </div>
    <div class="col-6">
        <div class="col-12">Paused</div>
        <div class="col-12" *ngIf="clickCount?.value && clickCount?.pauseCount else noPauseCount">
            {{clickCount.pauseCount}}
        </div>
        <ng-template #noPauseCount>
            <div class="col-12">0</div>
        </ng-template>
    </div>
</div>