<div class="count-down-timer-main d-flex">
    <div class="row">
            <div class="col-6 px-2">
                <div class="d-inline-block border border-success p-3 timer-grid-tile text-center">
                    <app-count-down-display-timer ></app-count-down-display-timer>
                </div>
            </div>
            <div class="col-6 px-2">
                <div class="d-inline-block border border-success p-3 timer-grid-tile text-center">
                    <app-count-down-input-timer></app-count-down-input-timer>
                </div>
            </div>
    </div>
    <div class="row">
        <div class="col-6 px-2 mt-4">
            <div class="d-inline-block border border-success p-3 timer-grid-tile text-center">
                <app-count-down-display-timer-logs></app-count-down-display-timer-logs>
            </div>
        </div>
        <div class="col-6 px-2 mt-4">
            <div class="d-inline-block border border-success p-3 timer-grid-tile text-center">
                <app-count-down-display-buttons-click-count></app-count-down-display-buttons-click-count>
            </div>
        </div>
    </div>
</div>
