<!-- <ngb-carousel *ngIf="images">
    <ng-template ngbSlide *ngFor="let img of images">
      <div class="picsum-img-wrapper">
        <img src={{img}} alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
  </ngb-carousel> -->
<div class="row">
  <div class="col-12">
    <div class="banner-block">
      <div class="banner-image">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(22).webp" alt="banner-image">
      </div>
      <div class="wrapper bg-dark">
        <div class="marquee">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce volutpat, ante eu bibendum tincidunt, sem lacus vehicula augue, ut suscipit.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce volutpat, ante eu bibendum tincidunt, sem lacus vehicula augue, ut suscipit.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
  