
<div class="search-results" 
    infinite-scroll 
    (scrolled)="onScrollDown($event)"> <!--(scrolledUp)="onScrollUp($event)"-->
      <div class="grid-block">
        <ngb-alert #staticAlert *ngIf="!staticAlertClosed" (closed)="staticAlertClosed = true">Button {{selectedIndex}} is clicked</ngb-alert>
        <div class="grid-tile" *ngFor="let i of items">
          <div class="btn-wrapper border border-success" (click)="showAlert(i)">
            <button type="button" class="btn text-primary">Button {{i}}</button>
          </div>
        </div>
      </div>
</div>

